<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>
<body>

    <h1>Monitoreo de cpu</h1>
    <p>Para poder utilizar el monitor priemero debe de 
        descargar e inicializar el software de monitoreo 
        para cliente en las computadoreas a monitorear
    </p>

    <form action="/monitoreo" method="post">
        <input type="submit" value="Ir a pantalla de monitoreo">
    </form>
    
</body>
</html>